<div class="footer container-fluid ">
<div >
    <h2 class=" dis text-center display-4 wow animated fadeInUp" data-wow-delay="0.6s">Let's Collab!</h2>
</div>

<div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class=" disContact display-5 wow animated fadeInUp" data-wow-delay="0.6s">Contact</h3>
            <div class="row">
                <div style="padding-left:10px" align="center" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <img src="assets/contact_pic.png" style="width:40%; border-radius: 50%;">
                </div>
                <div align="left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="display-6 wow animated fadeInUp" data-wow-delay="0.6s" style="color: white;"><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sachin Choudhary</p>
                    <p class="display-6 wow animated fadeInUp" data-wow-delay="0.6s" style="color: white;"><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;+91-8948716727<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91-8448066570</p>
                    <p class="display-6 wow animated fadeInUp" data-wow-delay="0.6s" style="color: white;"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Gurugram, India</p>
                </div>
            </div>  
        </div>
        <div align="center"  class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class=" dis text-center display-5 wow animated fadeInUp" data-wow-delay="0.6s">Mail me!</h3>
            <a data-wow-delay="0.6s" style="margin-bottom:10%; margin-top: 8%;" class="wow animated fadeInUp btn btn-dark" href="mailto:sachin.choudhary58@gmail.com?subject=Hi Sachin! I just visited your website.">Collab/Feedback</a>
        </div>
    </div>
</div>
</div>
<div class="mostBottom">
  
</div>
