<div class="bg">
  <div class="row struct">
    <div class="col-lg-8 col-md-8 col-sx-12 col-sm-12">
      <div class="info wow animated lightSpeedIn introd">
        <h1 class="display-2">Sachin <br />Choudhary</h1>
        <hr class="line-blue-left wow animated fadeInLeftBig" data-wow-delay="0.8s" />
        <hr class="line-blue-left-sec wow animated fadeInRightBig" data-wow-delay="0.8s" />
        <h2 class="display-6">Full Stack Developer</h2>
        <h3 class="display-6 below-sec">Designer / Coder</h3>
      </div>
    </div>
  </div>
</div>
