<div class="bg">
   <div class="row" style="margin-left:12%;">
      <div class="col-lg-8 col-md-8 col-sx-6 col-sm-6">
        <div class="info wow animated fadeInDownBig" style="margin-top: 18%; padding-right:5%;">
          <h1 class="display-2" style="font-family:Chivo;">Sachin <br />Choudhary</h1>
          <hr />
          <br />
          <h2 class="display-6">Full Stack Developer</h2>
          <h3 class="display-6">Designer / Coder</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sx-6 col-sm-6">
        <div class="info" style="margin-top: 10%; padding-right:5%;">
        </div>
      </div>
  </div>
  </div>


