<div class="container area">
  <div class="text-center area">
    <h2 class=" display-4 wow animated bounceInLeft">Expertise</h2>
    <p class="wow animated bounceInRight">What I can do</p>
  </div>
  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn ">
      <div class="service-item test">
        <div class="service-icon">
          <i class="fa fa-sitemap fa-3x"></i>
        </div>
        <h3>Programming</h3>
        <p>Data Structures, Algorithms, OOPS, Java/J2EE, Python, Agile Methodologies</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn ">
      <div class="service-item test">
        <div class="service-icon">
          <i class="fa fa-code fa-3x"></i>
        </div>
        <h3>Web Development</h3>
        <p>HTML5, CSS3, Javascript, Bootstrap, Node.js, MongoDB, Angular.js, React.js</p>
      </div>
    </div>


    <div align="center" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center wow animated zoomIn ">
      <div class="service-item test">
        <div class="service-icon">
          <i class="fa fa-tachometer fa-3x"></i>
        </div>
        <h3>DevOps/Cloud || VCS</h3>
        <p>Kubernetes, Docker, Jenkins, Amazon Web Services, Git, Bitbucket, Continuous Integration</p>
      </div>
    </div>

  </div>
</div>
