<div class="container-fluid bg-bio">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
      <img src="assets/Bio.jpg" class="img-fluid" style="height:auto;"/>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 welcome">
      <h1 class="display-4 wow fadeInUp" data-wow-delay="0.6s">Welcome to my Site</h1>
      <br />
      <p class="textbox">
        I am a web developer and a software engineer. I have immense interest and experience in designing and deploying web based
        applications. My current obsession is to develop responsive and dynamic websites using trending js frameworks.
      </p>
      <br/>
      <a style="margin-bottom:10%;" class="btn btn-outline-dark" href="https://drive.google.com/uc?export=download&id=1jmqSz1JGNPbiB9I9Fm1QGTn5VNMez4Zz">Curriculum Vitae</a>
    </div>
  </div>
</div>
