.nav-link:hover {
  color: ButtonShadow !important;
}


.nav-colored {
  background-color: transparent;
}

.nav-colored.active {
    background-color: black;
    opacity: 0.8;
}

#navigation {
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: rgba(0,0,0,.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 5px 0;
}

 #navigation.animated-header {
    min-height: 80px;
    padding-top: 1.8%;
    padding-right: 10%;
    padding-bottom: 2.0%;
  }
 #navigation.animated-header.active {
    min-height: 80px;
    padding-top: 1.4%;
    padding-right: 10%;
    padding-bottom: 1.3%;
  }


.nav-item a {
  color: white;
  font-family: Lato;
  font-size: 17px;
}

.nav-item.active a {
  color: white;
  font-family: Lato;
  font-size: 17px;
  transition: color 2.0s,transform 2.0s ease-out;
}


@media only screen and (max-width: 991px) {
  
  #navigation.animated-header.active {
    margin-right: 0px;
    padding:0;
  }
  #navigation.animated-header {
    margin-right: 0px;
    padding: 0;
  }

  .nav-colored {
    background-color: transparent;
  }

  .nav-colored.active {
      background-color: black;
      opacity: 0.8;
  }

  .nav-item a {
    color: white;
    font-family: Lato;
    font-size: 17px;
  }
  .nav-item.active a {
    color: white;
    font-family: Lato;
    font-size: 17px;
    transition: color 2.0s,transform 2.0s ease-out;
  }
}
